<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static "about_style.css" %}">
</head>

<body>
	<h4> Description </h4>
	<p> This site contains information about the plants, ecoregions and stateparks of Texas. The purpose of this site is to provide reliable information about any and all plants that can be found in Texas. This site is meant for anyone looking to learn more about Texas plants and where to find them. This could include researchers, students, survivalists or foragers. </p>
	<br>

	<h4> Group Name </h4>
	<p> Owl Team </p>
	<h4> Group Members </h4>
	<img src="{% static "erick_img.jpg" %}">
	<p> Name: Eric Cen</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio: I am a junior in the Cockrell School of Engineering. My primary core is power sys/renewable energy and my secondary core is software engineering.</p>
		<p>Responsibilities: Datascraping and Database Management</p>
		<p>Number of Commits: {{eric_commits}}</p>
		<p>Number of Issues: {{eric_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "eric_img.jpg" %}">
	<p> Name: Erick Machado</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio:  Hello! My name is Erick. I enjoy working with software and enjoy my time at UT. I have two dogs that I love very much. I’m very friendly so approach me if you wanna chat! </p>
		<p>Responsibilities: Database Management and Static Webpage Design</p>
		<p>Number of Commits: {{erick_commits}}</p>
		<p>Number of Issues: {{erick_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "connor_img.jpg" %}">
	<p> Name: Connor Fritz</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio: I'm a software track ECE major interested in plants and machine learning
		<p>Responsibilities: Static Webpage Design and Datascraping</p>
		<p>Number of Commits: {{connor_commits}}</p>
		<p>Number of Issues: {{connor_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "hao_img.jpg" %}">
	<p> Name: Hao Yao</p>
		<p>Major: Civil Engineering</p>
		<p>Bio: Hello, I am Hao! I am a second year master student in UT. My major in Ocean Engineering. I really enjoy the time working with you guys!</p>
		<p>Responsibilities: Static Webpage Design</p>
		<p>Responsibilities: API Development</p>
		<p>Number of Commits: {{hao_commits}}</p>
		<p>Number of Issues: {{hao_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "chaz_img.jpg" %}">
	<p> Name: Chaz Li</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio: Hello, I am Chaz! My major is Electrical Engineering. I really enjoy the time working and learning with you guys!</p>
		<p>Number of Commits: {{chaz_commits}}</p>
		<p>Number of Issues: {{chaz_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "xiyu_img.jpg" %}">
	<p> Name: Xiyu Wang</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio: Hi I’m Xiyu! You can pronounce it as “Shiyu” if you find it confusing:D I’m a master student with only 2 years in UT so I really cherish the time I work and have fun with you!</p>
		<p>Responsibilities: API Development</p>
		<p>Number of Commits: {{xiyu_commits}}</p>
		<p>Number of Issues: {{xiyu_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>
	<img src="{% static "fei_img.jpg" %}">
	<p> Name: Fei He</p>
		<p>Major: Electrical Engineering</p>
		<p>Bio: BLANK</p>
		<p>Responsibilities: API Development</p>
		<p>Number of Commits: {{fei_commits}}</p>
		<p>Number of Issues: {{fei_issues}}</p>
		<p>Number of Unit Tests: 0</p>
	<br>

	<h4>Statistics</h4>
	<p>Total number of commits: {{total_c}}</p>
	<p>Total number of issues: {{total_i}}</p>
	<p>Total number of unit tests: 0</p>
	<br>

	<h4> Datasources </h4>
	<a href='www.txsmartscape.com' >    Texas Plant Source </a>
	<p> This datasource was scraped using the HTMLParser and BeautifulSoup Python packages. Information about each plant, such as botanical name and growing conditions, were extracted from each plant</p>
	<a href='www.tpwd.texas.gov'>    Texas State Park and Ecoregion Datasource </a>
	<p> This datasource was scraped using the HTMLParser and BeautifulSoup Python packages. Latitude and longitude information was scraped for the state parks. Descriptions and native plants were scraped for each of the texan ecoregions</p>
	<br>

	<h4>Tools</h4>
	<p> We used the Django web framework, along with Python to build our app. We used HTML, CSS and some very simple Javascript to build templates for our web pages. We used Google Cloud Platform to deploy our app, and acquired our domain name from namecheap.com. We also used MySQL as our database, and stored our information on Cloud SQL, from Google Cloud Platform. Data scraping was performed using the beautifulsoup Python package, while RESTful APIs were used when they were available. We used Node.js to build our API, then used Postman to test it. We also used Selenium for UI testing. </p>
	<br>

	<h4> Github Repo Link </h4>
	<a href='https://github.com/ec505/EE461L-sp19-owl-team'>Click Here!<a>




