<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'list_page_style.css' %}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color:rgba(0,0,0,0.35);">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Treexas</a>
	    </div>

	    <div class="topnav-entry">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/plant_list">Plants</a>
	        </li>
	        <li><a href="/park_list">State Parks</a>
	        </li>
	        <li><a href="/eco_list">Ecoregions</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	{% for eco in ecoregion_list %}
	<div class="container">
		<div class="Img">
			<img src="{% static eco.img %}">
		</div>
		<div class="Text">
			<a href="{{eco.url}}">{{eco.name}}</a>
		</div>

	</div>
	{% endfor %}
</body>
</html>