<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'list_page_style.css' %}">

	<script>
		// When the user clicks on <div>, open the popup
		function transpecosfunc() {
			document.getElementById("eco_text").innerHTML = "Trans Pecos";
			document.getElementById("eco_pic").src = "{% static "eco_transpecos.jpg" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";
		}
		function edwardsfunc() {
			document.getElementById("eco_text").innerHTML = "Edwards Plateau";
			document.getElementById("eco_pic").src = "{% static "eco_edwards.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function crosstimbersfunc() {
			document.getElementById("eco_text").innerHTML = "Cross Timbers";
			document.getElementById("eco_pic").src = "{% static "eco_crosstimbers.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function southplainsfunc() {
			document.getElementById("eco_text").innerHTML = "South Plains";
			document.getElementById("eco_pic").src = "{% static "eco_southplains.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";
		}
		function postoakfunc() {
			document.getElementById("eco_text").innerHTML = "Post Oak";
			document.getElementById("eco_pic").src = "{% static "eco_postoaksavanah.jpg" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function pineywoodsfunc() {
			document.getElementById("eco_text").innerHTML = "Piney Woods";
			document.getElementById("eco_pic").src = "{% static "eco_pineywoods.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function blacklandprairiefunc() {
			document.getElementById("eco_text").innerHTML = "Blackland Prairie";
			document.getElementById("eco_pic").src = "{% static "eco_blacklandprairie.jpg" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function coastfunc() {
			document.getElementById("eco_text").innerHTML = "Gulf Coast Prairies";
			document.getElementById("eco_pic").src = "{% static "eco_marshes.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";
		}
		function highplainsfunc() {
			document.getElementById("eco_text").innerHTML = "High Plains";
			document.getElementById("eco_pic").src = "{% static "eco_highplains.png" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";

		}
		function rollingplainsfunc() {
			document.getElementById("eco_text").innerHTML = "Rolling Plains";
			document.getElementById("eco_pic").src = "{% static "eco_rollingplains.jpg" %}";
			document.getElementById("eco_pic").className = "img-center";
			document.getElementById("eco_pic").visibility = "visible";
		}
		function leave() {
			document.getElementById("eco_text").innerHTML = "Pick Your Ecoregion!";
			document.getElementById("eco_pic").visibility = "hidden";
			document.getElementById("eco_pic").className = "";
			document.getElementById("eco_pic").src = "";
		}
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color:rgba(0,0,0,0.35);">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Treexas</a>
	    </div>

	    <div class="topnav-entry">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/plant_list">Plants</a>
	        </li>
	        <li><a href="/park_list">State Parks</a>
	        </li>
	        <li><a href="/eco_list">Ecoregions</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<!--
		<div class="row">
			<div class="col">
				<p class="title1 text-center">Ecoregions of Texas</p>
			</div>
		</div>
	-->
	<div class="row">
		<div class="col-xs-12">
			<p class="title1 text-center">Ecoregions of Texas</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
	<div class="col-xs-6">
		<h1 class="color1 text-center" id="eco_text">Pick Your Ecoregion!</h1>
		<img class="" src="" id="eco_pic"/>
	</div>
	<div class="col-xs-6">
	<!-- Image Map Generated by http://www.image-map.net/ -->
	<img src="{% static 'ecoregions.png' %}" usemap="#image-map">

	<map name="image-map">
	    <area target="" alt="transpecos" title="Trans Pecos" href="/eco_profile/?id=9" coords="32,254,66,295,97,323,109,341,112,364,126,381,148,395,171,404,191,371,180,349,182,330,202,322,223,314,210,289,214,279,209,277,199,278,185,260,189,247,179,255,177,263" shape="poly" onmouseover="transpecosfunc()" onmouseout="leave()">

	    <area target="" alt="edwardsplateau1" title="Edwards Plateau" href="/eco_profile/?id=6" coords="193,368,241,369,266,390,268,372,304,395,321,383,351,386,389,363,393,346,374,330,358,295,344,297,329,296,324,265,318,265,298,302,269,301,273,285,288,281,291,274,278,274,276,266,269,262,263,265,242,252,235,258,239,266,225,274,216,275,213,288,226,314,185,333,182,348" shape="poly" onmouseover="edwardsfunc()" onmouseout="leave()">

	    <area target="" alt="edwardsplateau2" title="Edwards Plateau" href="/eco_profile/?id=6" coords="284,248,289,262,298,262,305,257,311,255,310,247,299,248,292,244" shape="poly" onmouseover="edwardsfunc()" onmouseout="leave()">

	    <area target="" alt="crosstimbers" title="Cross Timbers" href="/eco_profile/?id=4" coords="364,160,381,160,383,173,395,168,415,171,430,170,447,179,448,187,428,182,429,189,426,196,429,215,416,239,416,256,420,261,424,280,417,290,415,302,402,317,400,336,393,342,376,329,361,293,346,294,333,293,340,267,333,248,340,248,335,237,342,231,338,226,351,219,348,201,372,193,361,179" shape="poly" onmouseover="crosstimbersfunc()" onmouseout="leave()">

	    <area target="" alt="southtexasplains" title="South Texas Plaines" href="/eco_profile/?id=5" coords="267,394,270,375,304,398,322,385,358,386,347,393,372,391,345,404,372,409,400,394,415,414,423,438,411,451,394,446,383,468,384,476,400,473,413,541,423,550,414,556,406,547,383,547,341,528" shape="poly" onmouseover="southplainsfunc()" onmouseout="leave()">

	    <area target="" alt="postoaksavannah1" title="Post Oak Savannah" href="/eco_profile/?id=2" coords="455,175,482,168,494,162,523,181,539,183,528,190,509,210,499,212,493,234,502,253,496,257,489,245,483,257,486,268,493,284,487,302,471,318,470,331,447,347,412,398,402,393,371,406,354,402,394,381,407,341,417,336,448,279,467,255,476,211,491,197,507,185,494,178,464,190" shape="poly" onmouseover="postoakfunc()" onmouseout="leave()">

	    <area target="" alt="postoaksavannah2" title="Post Oak Savannah" href="/eco_profile/?id=2" coords="415,404,418,413,422,422,427,413,430,402,434,411,444,404,442,390,456,372,461,355,482,351,476,338,450,359,427,382" shape="poly" onmouseover="postoakfunc()" onmouseout="leave()">

	    <area target="" alt="blacklandprairie1" title="Blackland Prairie" href="/eco_profile/?id=3" coords="450,180,456,177,464,191,495,180,505,186,474,209,466,253,445,278,416,335,403,342,393,379,374,389,355,390,391,367,396,343,405,335,403,319,419,303,420,290,429,281,422,261,418,253,418,240,431,214,429,199,432,189,446,189" shape="poly" onmouseover="blacklandprairiefunc()" onmouseout="leave()">

	    <area target="" alt="blacklandprairie2" title="Blackland Prairie" href="/eco_profile/?id=3" coords="474,318,471,331,448,349,426,383,412,399,413,405,434,372,454,352,477,339" shape="poly" onmouseover="blacklandprairiefunc()" onmouseout="leave()">

	    <area target="" alt="Gulf Coast Prairies and Marshes" title="Gulf Coast Prairies and Marshes" href="/eco_profile/?id=1" coords="565,344,543,353,512,352,506,358,494,358,464,356,459,373,444,391,449,400,435,412,422,424,426,436,413,452,397,450,385,473,401,472,416,541,425,547,427,536,417,490,441,446,478,418,500,406,525,383,560,366" shape="poly" onmouseover="coastfunc()" onmouseout="leave()">

	    <area target="" alt="pineywoods" title="Piney Woods" href="/eco_profile/?id=0" coords="541,188,515,209,502,214,497,236,505,250,498,261,491,252,487,257,496,284,491,302,477,318,485,348,493,355,508,355,516,347,540,348,562,342,562,328,568,303,555,277,555,268,546,258,544,246,539,227" shape="poly" onmouseover="pineywoodsfunc()" onmouseout="leave()">

	    <area target="" alt="highplains1" title="High Plains" href="/eco_profile/?id=8" coords="186,46,268,51,283,69,234,93,206,77,186,84" shape="poly" onmouseover="highplainsfunc()" onmouseout="leave()">

	    <area target="" alt="highplains2" title="High Plains" href="/eco_profile/?id=8" coords="184,122,210,107,236,106,242,96,280,82,286,90,271,113,251,125,230,123,250,134,259,146,252,155,267,185,262,191,248,206,237,234,252,237,252,245,242,249,232,253,235,266,213,274,197,274,188,260,194,249,187,241,179,255" shape="poly" onmouseover="highplainsfunc()" onmouseout="leave()">

	    <area target="" alt="rollingplains1" title="Rolling Plains" href="/eco_profile/?id=7" coords="183,86,206,83,232,96,285,69,272,49,302,49,303,140,361,163,358,179,367,191,347,201,348,216,336,223,333,250,313,249,294,243,282,246,255,243,253,233,240,232,251,208,273,184,257,154,261,145,252,132,237,125,255,129,270,117,290,92,280,78,241,95,233,103,207,104,185,120" shape="poly" onmouseover="rollingplainsfunc()" onmouseout="leave()">

	    <area target="" alt="rollingplains2" title="Rolling Plains" href="/eco_profile/?id=7" coords="256,246,281,250,285,260,300,265,312,256,315,251,331,254,338,266,331,291,327,264,314,263,296,299,274,298,276,289,289,283,294,272,281,271,277,262,269,260,264,261,246,253" shape="poly" onmouseover="rollingplainsfunc()" onmouseout="leave()">
	</map>
	</div>
	</div>
	<!--
	{% for eco in ecoregion_list %}
	<div class="container">
		<div class="Img">
			<img src="{% static eco.img %}" class="imgentry">
		</div>
		<div class="Text">
			<a href="{{eco.url}}">{{eco.name}}</a>
		</div>

	</div>
	{% endfor %}
	-->
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	  <script src="../../assets/js/vendor/popper.min.js"></script>
	  <script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
