<!DOCTYPE html>
{% load static %}
<html>
<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	  <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="{% static "entry_style.css" %}">
</head>

<body>
	<h1>{{name}}</h1>
	<p> 
	{{description}}
	</p>
	<img src="{% static img_name %}">
	<br>
	<br>
	<a href="/eco_list/"> Back to ecoregion list.</a>
</body>
</html>