<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  	<link href='http://fonts.googleapis.com/css?family=Archivo' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Archivo:bold' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'list_page_style.css' %}">

	<script>
		// When the user clicks on <div>, open the popup
		function transpecosfunc() {
			document.getElementById("map").src = "{% static "ecoregions_transpecos.png" %}";

		}
		function edwardsfunc() {
			document.getElementById("map").src = "{% static "ecoregions_edwards.png" %}";
		}
		function crosstimbersfunc() {
			document.getElementById("map").src = "{% static "ecoregions_crosstimbers.png" %}";

		}
		function southplainsfunc() {
			document.getElementById("map").src = "{% static "ecoregions_southplains.png" %}";

		}
		function postoakfunc() {
			document.getElementById("map").src = "{% static "ecoregions_postoak.png" %}";

		}
		function pineywoodsfunc() {
			document.getElementById("map").src = "{% static "ecoregions_pineywoods.png" %}";

		}
		function blacklandprairiefunc() {
			document.getElementById("map").src = "{% static "ecoregions_blackland.png" %}";

		}
		function coastfunc() {
			document.getElementById("map").src = "{% static "ecoregions_marshes.png" %}";

		}
		function highplainsfunc() {
			document.getElementById("map").src = "{% static "ecoregions_highplains.png" %}";

		}
		function rollingplainsfunc() {
			document.getElementById("map").src = "{% static "ecoregions_rollingplains.png" %}";

		}
		function leave() {
			document.getElementById("map").src = "{% static "ecoregions.png" %}";
		}
	</script>

	<style>
		.bg{
			background: url('{% static "green-leaves-flat.jpg"%}') center 30% no-repeat;
			background-size: 120% 150%;

		}
	</style>




</head>

<body class="bg">
	<nav class="navbar navbar-expand-sm navbar-custom navbar-light fixed-top" style="background-color: #A5A5Af">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Treexas</a>
	    </div>

	    <div class="topnav-entry">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active"><a class = "nav-link" href="/plant_list">Plants</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/park_list">State Parks</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/eco_list">Ecoregions</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/about">About Us</a>
	        </li>
	     	<!-- <li class="nav-item active"><a class="nav-link" href="" onclick="window.history.go(-1); return false;"> Back </a>
	     	</li> -->
	      </ul>
	    </div>
	  </div>
	</nav>

	<br>
	<br>
	<br>
	<br>

	<div class="container-fluid">
		<!--
		<div class="row">
			<div class="col">
				<p class="title1 text-center">Ecoregions of Texas</p>
			</div>
		</div>
	-->
	<div class="d-flex flex-row mx-auto">
		<div class="flex-col">
			<p class="title1 text-center">Ecoregions of Texas</p>
			<br>
			<br>
			<br>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>

	<div class="d-flex flex-row justify-content-center">
	<div class="flex-column justify-content-center mx-auto">

	<!-- Image Map Generated by http://www.image-map.net/ -->
	<img class="justify-content-center" id="map" src="{% static 'ecoregions.png' %}" usemap="#image-map">

	<map name="image-map">
	    <area target="" alt="transpecos" title="transpecos" href="/eco_profile/?id=9" coords="44,340,239,347,241,334,255,331,247,352,268,374,280,367,288,379,280,387,297,419,239,441,241,470,257,492,229,542,153,495,138,447,127,429,102,408,70,378" shape="poly" onmouseover="transpecosfunc()" onmouseout="leave()">

	    <area target="" alt="marshes" title="marshes" href="/eco_profile/?id=1"  coords="568,733,548,722,544,690,538,676,543,660,532,650,537,631,516,630,513,619,522,604,541,592,548,599,554,591,567,574,555,569,561,554,570,557,572,539,577,551,595,537,589,514,610,494,609,482,617,475,626,471,650,471,655,480,679,476,685,468,721,469,750,457,744,489,691,516,664,544,606,579,570,608,552,655" shape="poly" onmouseover="coastfunc()" onmouseout="leave()">

	    <area target="" alt="blackland1" title="blackland1" href="/eco_profile/?id=3" coords="462,521,472,505,504,498,519,478,535,422,556,399,553,386,564,382,563,345,553,338,556,312,574,287,568,260,574,241,599,248,599,235,619,250,651,235,676,245,660,270,635,279,628,315,623,355,604,358,614,368,609,375,600,368,583,391,582,402,573,413,548,456,539,482,527,504,508,516,488,523" shape="poly" onmouseover="blacklandprairiefunc()" onmouseout="leave()">

	    <area target="" alt="blackland2" title="blackland2" href="/eco_profile/?id=3" coords="547,533,551,545,571,511,582,506,632,447,629,424,569,498" shape="poly" onmouseover="blacklandprairiefunc()" onmouseout="leave()">

	    <area target="" alt="postoak1" title="postoak1" href="/eco_profile/?id=2" coords="601,232,620,247,651,233,674,242,665,272,635,280,625,357,607,359,616,367,608,376,600,371,584,391,581,403,550,455,539,484,529,502,497,521,487,529,464,533,462,541,510,541,532,526,549,534,568,499,630,422,650,402,653,370,644,340,652,327,660,339,671,336,660,311,666,282,679,281,699,256,719,248,719,237,702,244,658,221,627,224" shape="poly" onmouseover="postoakfunc()" onmouseout="leave()">

	    <area target="" alt="postoak2" title="postoak2" href="/eco_profile/?id=2" coords="552,545,557,551,569,554,571,536,579,547,594,537,587,515,608,493,609,481,627,469,640,469,633,448,585,507,573,512" shape="poly" onmouseover="postoakfunc()" onmouseout="leave()">

	    <area target="" alt="crosstimbers" title="crosstimbers" href="/eco_profile/?id=4" coords="487,213,597,232,597,244,573,239,565,258,570,285,554,311,552,336,561,348,562,380,553,383,553,398,532,419,521,458,495,431,478,394,442,397,454,352,442,334,451,330,449,316,459,308,452,295,468,287,464,269,496,253,477,238" shape="poly" onmouseover="crosstimbersfunc()" onmouseout="leave()">

	    <area target="" alt="southplains" title="southplains" href="/eco_profile/?id=5" coords="352,518,354,502,361,498,405,525,427,509,469,508,459,521,491,524,462,533,461,540,511,544,533,528,546,535,552,551,560,556,552,570,563,575,548,596,542,587,519,602,510,620,516,631,533,634,530,649,541,663,534,675,543,689,545,721,565,734,555,743,537,730,507,726,479,716,459,706" shape="poly" onmouseover="southplainsfunc()" onmouseout="leave()">

	    <area target="" alt="edwards1" title="edwards1" href="/eco_profile/?id=6" coords="260,489,244,469,241,443,302,418,283,389,292,379,285,368,300,368,316,356,321,350,317,345,323,339,388,368,383,375,360,380,357,398,373,405,400,403,423,369,420,354,434,353,435,395,448,402,476,396,495,431,520,462,516,480,501,495,469,504,428,504,404,519,362,495,352,501,350,517" shape="poly" onmouseover="edwardsfunc()" onmouseout="leave()">

	    <area target="" alt="edwards2" title="edwards2" href="/eco_profile/?id=6" coords="378,333,385,350,398,350,404,342,414,341,413,331,404,328,398,328,386,324" shape="poly" onmouseover="edwardsfunc()" onmouseout="leave()">

	    <area target="" alt="rollingplains" title="rollingplains" href="/eco_profile/?id=7" coords="245,112,244,161,259,149,271,148,274,141,288,138,298,146,314,140,321,137,374,106,375,116,363,125,380,120,374,129,361,135,367,142,364,154,343,148,330,152,342,167,335,170,314,161,313,172,336,178,340,209,357,245,351,254,337,252,328,267,331,281,322,300,313,300,307,309,315,315,335,316,337,323,324,337,374,335,388,322,414,330,415,342,403,349,384,351,375,337,330,339,389,368,385,377,360,381,357,397,373,406,401,403,424,370,420,354,435,355,437,394,456,351,442,337,452,329,450,317,457,307,449,293,465,284,462,268,492,252,475,238,485,216,403,183,403,66,356,62,377,87,379,95,342,102,320,109,314,106,316,117,312,128,272,103,266,114" shape="poly" onmouseover="rollingplainsfunc()" onmouseout="leave()">

	    <area target="" alt="pineywoods" title="pineywoods" href="/eco_profile/?id=0" coords="722,250,725,341,757,395,749,453,720,469,684,467,680,475,656,478,649,468,643,468,635,445,632,421,652,401,655,368,646,342,652,333,661,341,672,338,664,311,669,284,682,283,700,258" shape="poly" onmouseover="pineywoodsfunc()" onmouseout="leave()">

	    <area target="" alt="highplains1" title="highplains1" href="/eco_profile/?id=8" coords="248,63,355,63,374,86,377,95,318,106,312,106,312,125,273,101,265,112,243,111" shape="poly" onmouseover="highplainsfunc()" onmouseout="leave()">

	    <area target="" alt="highplains2" title="highplains2" href="/eco_profile/?id=8" coords="244,164,237,333,254,330,250,351,267,372,281,364,302,364,317,350,332,325,335,317,314,317,306,311,312,299,321,297,329,284,325,265,335,252,351,252,356,245,338,209,335,180,314,174,310,157,336,167,331,152,342,147,363,150,367,143,362,136,373,128,379,122,365,125,372,117,373,108,326,137,300,148,288,140,276,144,272,150,260,151" shape="poly" onmouseover="highplainsfunc()" onmouseout="leave()">
	</map>
		</div>

	</div>
	</div>


	<!--
	{% for eco in ecoregion_list %}
	<div class="container">
		<div class="Img">
			<img src="{% static eco.img %}" class="imgentry">
		</div>
		<div class="Text">
			<a href="{{eco.url}}">{{eco.name}}</a>
		</div>

	</div>
	{% endfor %}
	-->
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	  <script src="../../assets/js/vendor/popper.min.js"></script>
	  <script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
