<!DOCTYPE html>
{% load static %}
<html>
	<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet'type='text/css'>

	<link rel="stylesheet" href="{% static "entry_style.css" %}">

	<script type="text/javascript">
		function img_over(item){
			item.style.borderColor = "#57BC90";
			item.style.borderWidth = "4px";
		}
		function img_out(item){
			item.style.borderColor = "#77C9D4";
			item.style.borderWidth = "1px";
		}

	</script>
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
			<nav class="navbar navbar-expand-sm navbar-custom navbar-light navbar-fixed-top" style="background-color: #A5A5Af">
				  <div class="container-fluid">

				    <div class="navbar-header">
				      <a class="navbar-brand" href="/">Treexas</a>
				    </div>

				    <div class="topnav-entry">
				      <ul class="navbar-nav mr-auto">
				        <li class="nav-item active"><a class = "nav-link" href="/plant_list">Plants</a>
				        </li>
				        <li class="nav-item active"><a class = "nav-link" href="/park_list">State Parks</a>
				        </li>
				        <li class="nav-item active"><a class = "nav-link" href="/eco_list">Ecoregions</a>
				        </li>
				        <li class="nav-item active"><a class = "nav-link" href="/about">About Us</a>
				        </li>
				     	<li class="nav-item active"><a class="nav-link" href="" onclick="window.history.go(-1); return false;"> Back </a>
				     	</li>
				      </ul>
				    </div>
				  </div>
				</nav>
			</div>
		</div>

		<br>
		<br>
		<br>

		<div class="row">
			<div class="col">
				<h1 class="title1 text-center">{{profile.name}}</h1>
				<div class="text-center">
					<img class="img imgstyle-large" src="{{profile.image}}">
				</div>
				<p class="text-center">{{profile.description}}</p>
				<p class="text-center">Address: {{profile.address}}</p>
				<p class="text-center">Latitude: {{profile.latitude}}</p>
				<p class="text-center">Longitude: {{profile.longitude}}</p>

			</div>
		</div>
	</div>

	<div class="d-flex flex-row justify-content-around">
		<div>
			<h3 class="title2"> Plants In {{profile.name}} </h3>
		</div>
		<div>
			<h3 class="title2"> Ecoregion of {{profile.name}} </h3>
		</div>
	</div>

	<div class="d-flex flex-row justify-content-around">

		    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		        <!-- Wrapper for carousel items -->
		        <div class="carousel-inner">
		        	<div class="carousel-item active">
		                <img class="img-medium-center" src="{% static "background-succulent.jpeg" %}">
		               	<div class="carousel-caption d-non d-md-block" style="background-color: #77c9d4">
		        			<h6 class="words1 text-center">Plants</h3>
		        		</div>
		            </div>
		        	{% for plant in plants %}
		        	<div class="carousel-item">

		        		<a href="/plant_profile/?id={{plant.id}}">
		        			<img class="img-medium-center" src="{{plant.image}}">
		        		</a>
		        		<div class="carousel-caption d-non d-md-block" style="background-color: #77c9d4">
		        			<h6 class="words1 text-center">{{plant.name}}</h3>
		        		</div>
		        	</div>
		        	{% endfor %}
		        </div>
		        <!-- Carousel controls -->
		        <a class="carousel-control-prev" href="#myCarousel" role="button"data-slide="prev" style="background-color:#57bc90">
		                <span class="carousel-control-prev-icon" aria-hidden="true" style="color:#57bc90"></span>
    					<span class="sr-only" style="color:#57bc90">Previous</span>
		        </a>
		        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" style="background-color:#57bc90">
		                <span class="carousel-control-next-icon" aria-hidden="true" style="color:#57bc90"></span>
    					<span class="sr-only" style="color:#57bc90">Next</span>
		        </a>
		    </div>

		    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
		        <!-- Wrapper for carousel items -->
		        <div class="carousel-inner">
		        	<div class="carousel-item active">
		                <img class="img-medium-center" src="{% static "background-succulent.jpeg" %}">
		               	<div class="carousel-caption d-non d-md-block" style="background-color: #77c9d4">
		        			<h6 class="words1 text-center">Ecoregion</h6>
		        		</div>
		            </div>
		        	{% for plant in plants %}
		        	<div class="carousel-item">

		        		<a href="/plant_profile/?id={{plant.id}}">
		        			<img class="img-medium-center" src="{{plant.image}}">
		        		</a>
		        		<div class="carousel-caption d-non d-md-block" style="background-color: #77c9d4">
		        			<h6 class="words1 text-center">{{plant.name}}</h6>
		        		</div>
		        	</div>
		        	{% endfor %}
		        </div>
		        <!-- Carousel controls -->
		        <a class="carousel-control-prev" href="#myCarousel2" role="button"data-slide="prev" style="background-color:#57bc90">
		                <span class="carousel-control-prev-icon" aria-hidden="true" style="color:#57bc90"></span>
    					<span class="sr-only" style="color:#57bc90">Previous</span>
		        </a>
		        <a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next" style="background-color:#57bc90">
		                <span class="carousel-control-next-icon" aria-hidden="true" style="color:#57bc90"></span>
    					<span class="sr-only" style="color:#57bc90">Next</span>
		        </a>
		    </div>
		

	</div>

	<br>
	<br>
	<div class="d-flex justify-content-between">


		<div class="col-xs-6">
			<div class="row" >
				<div class="card-columns" >
				{% for plant in plants %}
				<div class="card" style="width:13vw; margin: 1vw; border-width: 4px; border-color: #77c9d4" onmouseover="img_over(this)" onmouseout="img_out(this)">
					<a href="/plant_profile/?id={{plant.id}}">
						<img class="card-img-top img-center-small" src="{{plant.image}}">
					</a>
					<div class="card-body">
						<h3 class="card-text text-center words1" >{{plant.name}}</h3>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
		</div>

	
		<div class="col-xs-1">
			<h3 style="color:#FFFFFF">nothing</h3>
		</div>
		
		<div class="col-xs-6">
			<div class="row" >
				<div class="card-columns" >
				{% for plant in plants %}
				<div class="card" style="width:13vw; margin: 1vw; border-width: 4px; border-color: #77c9d4" onmouseover="img_over(this)" onmouseout="img_out(this)">
					<a href="/plant_profile/?id={{plant.id}}">
						<img class="card-img-top img-center-small" src="{{plant.image}}">
					</a>
					<div class="card-body">
						<h3 class="card-text text-center words1" >{{plant.name}}</h3>
					</div>
				</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	  <script src="../../assets/js/vendor/popper.min.js"></script>
	  <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
