<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	 <!-- Latest compiled and minified CSS -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link href='http://fonts.googleapis.com/css?family=Archivo' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Archivo:bold' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type='text/css'>

	<link rel="stylesheet" href="{% static 'list_page_style.css' %}">
	<script type="text/javascript">
		function img_over(item){
			item.style.borderColor = "#57BC90";
		}
		function img_out(item){
			item.style.borderColor="#FFFFFF";
		}

	</script>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-custom navbar-light fixed-top" style="background-color: #A5A5Af">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Treexas</a>
	    </div>

	    <div class="topnav-entry">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item active"><a class = "nav-link" href="/plant_list">Plants</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/park_list">State Parks</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/eco_list">Ecoregions</a>
	        </li>
	        <li class="nav-item active"><a class = "nav-link" href="/about">About Us</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>


	<div class="container-fluid">
			<div class="container">
  	 			<p class="title1 text-center">State Parks of Texas</p>
			</div>

			<div class="d-flex flex-row justify-content-center mx-auto">
				<div class="col-12">
						<form method="GET">
					      <div class="input-group" id="search_bar">
					          <input class="form-control" type="text" name="search" placeholder="State Park Name">
					          	<div class="input-group-append">
					            <button class="btn btn-outline-secondary" type="submit"><i class="fa fas fa-tree fa_custom fa-2x"></i></button>
					          </div>
					      </div>
					  </form>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="row flex-wrap">
				{% for park in names %}
				<div class="card col-sm-3 py-4 card-style" onmouseover="img_over(this)" onmouseout="img_out(this)">
					<a href="/park_profile/?id={{park.id}}">
						<img class="card-img img-center" src="{{park.image}}">
					</a>
					<div class="card-body">
						<h3 class="card-text text-center" >{{park.name}}</h3>
					</div>
				</div>
				{% endfor %}
			</div>

			<!-- paginatior -->
			<div class="mt-3">
					<div id="page_footer">
						<ul class="pagination justify-content-center">
								<li class="page-item">
										<a class="page-link" href="?page=
												{% if names.has_previous %}
														{{names.previous_page_number}}
												{% else %}
														{{names.number}}
												{% endif %}
										" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
										</a>
								</li>
								{% for page in pages.page_range_ex %}
									{% if page == '...' %}
										<li class="page-item"><span class="page-link">...</span></li>
									{% else %}
										<li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
									{% endif %}
								{% endfor %}
								<li class="page-item">
										<a class="page-link" href="?page=
												{% if names.has_next %}
														{{names.next_page_number}}
												{% else %}
														{{names.number}}
												{% endif %}
										" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
										</a>
								</li>
							<li class="page-item" id="page_goto">
								<span class="page-link">
									Page
									<input type="text" value="{{pages.page_goto}}"/>
								</span>
							</li>
							<li><a class="page-link" href = "javascript:void(0);" onClick="page_goto();">Go</a>
							</li>
						</ul>
						<!--span class="pagination_foot" >
								{{page_all}}plants, {{blogs.number}}page/{{pages.num_pages}}pages
						</span-->
						<br>
						<br>
					</div>
				</div>
		<script type="text/javascript">
			$(".pagination li a").each(function(){
			if($(this).text()=="{{names.number}}"){
					$(this).parent().addClass("active");
			}
			});

			function page_goto(){
			var page = $("#page_goto input")[0].value;
			window.location.href = '?page=' + page;
			return false;
			}
		</script>

	</div>
</body>
</html>
