<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		 <!-- Latest compiled and minified CSS -->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	  	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet'type='text/css'>
		<link rel="stylesheet" href='{% static "entry_style_modified.css" %}'>
		<link rel="stylesheet" href='{% static "overall_style.css" %}'>

		<link rel="stylesheet" href='{% static "overall_style.css" %}'>

	</head>

<!--<link rel = "stylesheet" href="SubPage.css">-->


	<nav class="navbar navbar-expand-sm navbar-custom navbar-light fixed-top">
	  	<div class="container-fluid">
			<div class="navbar-header">
	      		<a class="navbar-brand" href="/">Treexas</a>
	    	</div>
			<div class="topnav-entry">
	      		<ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a class = "nav-link" href="/plant_list">Plants</a>
	        	</li>
	        	<li class="nav-item active"><a class = "nav-link" href="/park_list">State Parks</a>
	        	</li>
	        	<li class="nav-item active"><a class = "nav-link" href="/eco_list">Ecoregions</a>
	        	</li>
	        	<li class="nav-item active"><a class = "nav-link" href="/about">About Us</a>
	        	</li>
	      		</ul>
	    	</div>
	  	</div>
	</nav>

		<br>
		<br>
		<br>
	<div class="container-fluid">
		<div class="row">
				<div class="col">
					<h1 class="title1">{{profile.name}}</h1>
				</div>
			</div>


<!-- Plant image and data section -->

		<div class="img-area">
			<img class="main_img" src="{{profile.image}}" alt="{{profile.name}}">
			<table class="img_table">
				{% if profile.nickname != "N/A" and profile.nickname != None %}
				<tr>
					<td><font size=4>Common Name:</font></td>
					<td><font size=4>{{profile.nickname}}</font></td>
					</tr>
				{% endif %}

				{% if profile.name != "N/A" and profile.name != None %}
				<tr>
					<td><font size=4>Botanical Name:</font></td>
					<td><font size=4>{{profile.name}}</font></td>
				</tr>
				{% endif %}

				{% if profile.planttype != "N/A" and profile.planttype != None %}
				<tr>
					<td><font size=4>Plant Type:</font></td>
					<td><font size=4>{{profile.planttype}}</font></td>
				</tr>
				{% endif %}

				{% if profile.season != "N/A" and profile.season != None %}
				<tr>
					<td><font size=4>Growing Season:</font></td>
					<td><font size=4>{{profile.season}}</font></td>
				</tr>
				{% endif %}

				{% if profile.lightreq != "N/A" and profile.lightreq != None %}
				<tr>
					<td><font size=4>Light Requirement:</font></td>
					<td><font size=4>{{profile.lightreq}}</font></td>
				</tr>
				{% endif %}

				{% if profile.waterdemand != "N/A" and profile.waterdemand != None %}
				<tr>
					<td><font size=4>Water Demand:</font></td>
					<td><font size=4>{{profile.waterdemand}}</font></td>
				</tr>
				{% endif %}

				{% if profile.soil != "N/A" and profile.soil != None %}
				<tr>
					<td><font size=4>Soil Requirement</font></td>
					<td><font size=4>{{profile.soil}}</font></td>
				</tr>
				{% endif %}

				{% if profile.landscapeuse != "N/A" and profile.landscapeuse != None %}
				<tr>
					<td><font size=4>Land Scape Use:</font></td>
					<td><font size=4>{{profile.landscapeuse}}</font></td>
				</tr>
				{% endif %}

				{% if profile.wildlifevalue != "N/A" and profile.wildlifevalue != None %}
				<tr>
					<td><font size=4>Wild Life Value:</font></td>
					<td><font size=4>{{profile.wildlifevalue}}</font></td>
				</tr>
				{% endif %}

				{% if profile.ornamentalvalue != "N/A" and profile.ornamentalvalue != None %}
				<tr>
					<td><font size=4>Ornamental Value:</font></td>
					<td><font size=4>{{profile.ornamentalvalue}}</font></td>
				</tr>
				{% endif %}

				{% if profile.nativeadapted != "N/A" and profile.nativeadapted != None %}
				<tr>
					<td><font size=4>Native/Adapted:</font></td>
					<td><font size=4>{{profile.nativeadapted}}</font></td>
				</tr>
				{% endif %}

				{% if profile.season != "N/A" and profile.season != None %}
				<tr>
					<td><font size=4>Season:</font></td>
					<td><font size=4>{{profile.season}}</font></td>
				</tr>
				{% endif %}

				{% if profile.deciduousevergreen != "N/A" and profile.deciduousevergreen != None %}
				<tr>
					<td><font size=4>Deciduous Evergreen:</font></td>
					<td><font size=4>{{profile.deciduousevergreen}}</font></td>
				</tr>
				{% endif %}

				{% if profile.plantform != "N/A" and profile.plantform != None %}
				<tr>
					<td><font size=4>Plant Form:</front></td>
					<td><font size=4>{{profile.plantform}}</front></td>
				</tr>
				{% endif %}

				{% if profile.plantspread != "N/A" and profile.plantspread != None %}
				<tr>
					<td><font size=4>Plant Spread:</font></td>
					<td><font size=4>{{profile.plantspread}}</font></td>
				</tr>
				{% endif %}

				{% if profile.plantheight != "N/A" and profile.plantheight != None %}
				<tr>
					<td><font size=4>Plant Height:</font></td>
					<td><font size=4>{{profile.plantheight}}</font></td>
				</tr>
				{% endif %}

				{% if profile.reproduction != "N/A" and profile.reproduction != None %}
				<tr>
					<td><font size=4>Reproduction:</font></td>
					<td><font size=4>{{profile.reproduction}}</font></td>
				</tr>
				{% endif %}

				{% if profile.lifecycle != "N/A" and profile.lifecycle != None %}
				<tr>
					<td><font size=4>Life Cycle:</font></td>
					<td><font size=4>{{profile.lifecycle}}</font></td>
				</tr>
				{% endif %}

				{% if profile.plantform != "N/A" and profile.plantform != None %}
				<tr>
					<td><font size=4>Plant Form:</font></td>
					<td><font size=4>{{profile.plantform}}</font></td>
				</tr>
				{% endif %}

				{% if profile.edibility != "N/A" and profile.edibility != None %}
				<tr>
					<td><font size=4>Plant Edibility:</font></td>
					<td><font size=4>{{profile.edibility}}</font></td>
				</tr>
				{% endif %}

				{% if profile.endangered != "N/A" and profile.endangered != None %}
				<tr>
					<td><font size=4>Endangered Status:</font></td>
					<td><font size=4>{{profile.endangered}}</font></td>
				</tr>
				{% endif %}

			</table>
		</div>

<br>
<br>
<form action="/plant_profile/" method="post">
	{% csrf_token %}
		<div class="button-set">
			{%if describe == 'Show' %}
			<button class="buttons btn btn-success" id="show_eco" type="submit" name="Des" value="Edit" >Edit</button>
			{% endif %}
			{% if describe == 'Show' %}
			<button class="buttons btn btn-success" id="show_parks"  type="submit" name="Des" value="Show" >Hide</button>
			{% elif describe == 'hidden'%}
			<button class="buttons btn btn-success" id="show_parks"  type="submit" name="Des" value="Show" >Show Comment</button>
			{% endif %}
			{%if describe == 'Edit' %}
			<button class="buttons btn btn-success" id="show_eco" type="submit" name="Des" value="Save" >Save</button>
			<button class="buttons btn btn-success" id="show_eco" type="submit" name="Des" value="Show" >Cancel</button>
			{% endif %}
		</div>
		{%if describe == 'Show' %}
		<textarea class="form-control" style="min-width: 100%" cols="30" readonly="readonly" >{{plant_description}}</textarea>
		{% endif %}
		{%if describe == 'Edit' %}
		<textarea class="form-control" style="min-width: 100%" cols="30" name="description">{{plant_description}}</textarea>
		{% endif %}
		<input type="hidden" name="plant_id" value={{plant_id}}>
		<input type="hidden" name="describe" value={{describe}}>
</form>
<br>
<br>
		<br>
		<div class="d-flex flex-row justify-content-around">
			<div>
				<h3 class="title3"> State Parks with {{profile.name}} </h3>
			</div>
			<div>
				<h3 class="title3"> Ecoregions with {{profile.name}} </h3>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-around">
			    <div id="myCarousel" class="carousel slide" data-ride="carousel">
			        <!-- Wrapper for carousel items -->
			        <div class="carousel-inner">
			        	<div class="carousel-item active">
			                <img class="img-medium-center" src='{% static "background-succulent.jpeg" %}'>
			               	<div class="carousel-caption d-non d-md-block green-theme">
			        			<h6 class="words1 text-center">Parks</h6>
			        		</div>
			            </div>
			        	{% for park in park_list %}
			        	<div class="carousel-item">
								<a href="/park_profile/?id={{park.id}}">
			        			<img class="img-medium-center" src="{{park.image}}">
			        		</a>
							<div class="carousel-caption d-non d-md-block green-theme">
			        			<h6 class="words1 text-center">{{park.name}}</h6>
			        		</div>
			        	</div>
			        	{% endfor %}
			        </div>
					<!-- Carousel controls -->
					
					<a class="carousel-control-prev grey-theme" href="#myCarousel" role="button"data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next  grey-theme" href="#myCarousel" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
			    </div>


			    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
			        <!-- Wrapper for carousel items -->
			        <div class="carousel-inner">
			        	<div class="carousel-item active">
			                <img class="img-medium-center" src='{% static "background-succulent.jpeg" %}'>
			               	<div class="carousel-caption d-non d-md-block green-theme">
			        			<h6 class="words1 text-center">Ecoregions</h6>
			        		</div>
			            </div>
			        	{% for eco in eco_list %}
			        	<div class="carousel-item">

			        		<a href="/eco_profile/?id={{eco.id}}">
			        			{% with ''|add:eco.image|add:'' as img_static %}
									<img class="img-medium-center" src="{% static img_static %}">
								{% endwith %}
			        		</a>
			        		<div class="carousel-caption d-non d-md-block green-theme">
			        			<h6 class="words1 text-center">{{eco.ecoregion}}</h6>
			        		</div>
			        	</div>
			        	{% endfor %}
			        </div>
			        <!-- Carousel controls -->
			        <a class="carousel-control-prev grey-theme" href="#myCarousel2" role="button" data-slide="prev">
			                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			        </a>
			        <a class="carousel-control-next grey-theme" href="#myCarousel2" role="button" data-slide="next">
			                <span class="carousel-control-next-icon" aria-hidden="true"></span>
			        </a>
			    </div>


		</div>
		<div class="button-set">
			<button class="buttons btn btn-success" id="show_parks"   onclick="xlist(this,'parks','parkSet')">Show Parks</button>
			<button class="buttons btn btn-success" id="show_eco"  onclick="xlist(this,'eco_region','ecoSet')">Show Ecoregions</button>
		</div>

		<br>
		<br>

		<div class="d-flex justify-content-between">
			<div id="parks" style="display: none" class="plant_list col" data-spy="scroll">
				<div class="d-flex flex-row flex-wrap">
					{% for park in park_list %}
					<div class="card col-sm-4 px-4 card-style flex-wrap" onmouseover="img_over(this)" onmouseout="img_out(this)">
						<a href="/park_profile/?id={{park.id}}">
							<img style="max-width: 100%" class="card-img img-center"src="{{park.image}}">
						</a>
						<div class="card-body">
							<h3 class="card-text text-center" >{{park.name}}</h3>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		<div id="eco_region" style="display: none" class="plant_list col" data-spy="scroll">
			<div class="d-flex flex-row flex-wrap">
				{% for eco in eco_list %}
				<div class="card col-sm-4 px-4 card-style flex-wrap" onmouseover="img_over(this)" onmouseout="img_out(this)">
					<a href="/eco_profile/?id={{eco.id}}">
						{% with ''|add:eco.image|add:'' as img_static %}
							<img style="max-width: 100%" class="card-img-top img-center-wide" src="{% static img_static %}">
						{% endwith %}
					</a>
					<div class="card-body">
						<h3 class="card-text text-center" >{{eco.ecoregion}}</h3>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		</div>
		</div>




	  	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		 <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
		 <script src="../../assets/js/vendor/popper.min.js"></script>
		 <script src="../../dist/js/bootstrap.min.js"></script>

	<!-- Below are variables needed to store data, do not use for show --->
	<p id="parkSet" style="display: none">{{set_check.0}}</p>
	<p id="ecoSet" style="display: none">{{set_check.1}}</p>

	</body>


<script type="text/javascript">


			function xlist(button,elementID, variableID) {

				if(document.getElementById(variableID).innerHTML === 'false'){

					var x = document.getElementById(elementID);

					if(x.style.display === "none"){
						x.style.display="block";
						button.style.backgroundColor = "#57BC90";

					}else{
						x.style.display ="none";
						button.style.backgroundColor = "#A5A5AF";

					}

				}
				else{

					button.style.backgroundColor = "#FF6961";
					setTimeout(() => backgroundColorGrey(button), 500);
				}
			}

			function backgroundColorBlue(item){

				item.style.backgroundColor = "#57BC90";
			}

			function backgroundColorGrey(button){
				button.style.backgroundColor = "#A5A5Af";
			}

			function img_over(item){
				item.style.borderColor = "#57BC90";
				item.style.borderWidth = "4px";
			}
			function img_out(item){
				item.style.borderColor = "#FFFFFF";
			}

			function buttonReverseColor(item){
				if(item.style.backgroundColor === "57BC90"){
					item.style.backgroundColor = "#A5A5Af";
				} else{
					item.style.backgroundColor = "#57BC90"
				}
			}


		</script>


</html>
