<!DOCTYPE html>
{%load static%}
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'browser_icon.png' %}">
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  	<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'list_page_style.css' %}">
	<script type="text/javascript">
		function img_over(item){
			item.style.borderColor = "#AFBEFF";
			item.style.borderWidth = "10px";
		}
		function img_out(item){
			item.style.borderColor="#FFFFFF";
			item.style.borderWidth="0px";
		}


	</script>


</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color:rgba(0,0,0,0.35);">
	  <div class="container-fluid">

	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Treexas</a>
	    </div>

	    <div class="topnav-entry">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/plant_list">Plants</a>
	        </li>
	        <li><a href="/park_list">State Parks</a>
	        </li>
	        <li><a href="/eco_list">Ecoregions</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
  	 				<p class="title1 text-center">Plants of Texas</p>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="col-xs-12">
						<form method="GET">
					      <div class="input-group">
					          <i class="glyphicon glyphicon-search"></i>
					          <input class="form-control" type="text" name="search" placeholder="Search" autofocus/>
					          	<div class="input-group-btn">
					            <button class="btn btn-default" type="submit">
					            <i class="glyphicon glyphicon-leaf"></i></button>
					            <br>
					          </div>
					      </div>
					</div>
					  </form>
				</div>
			</div>


			<div class="col-xs-12">
					<form method="GET">
							<div class="input-group">
									<!-- <i class="glyphicon glyphicon-search"></i> -->
									<!-- <input class="form-control" type="text" name="search" placeholder="Search" autofocus/> -->
										<div class="input-group-btn">
										<!-- <button class="btn btn-default" type="submit">
										<i class="glyphicon glyphicon-leaf"></i></button> -->
										<br>
									</div>
							</div>
							<div class="input-group">
								<p>Filter by plant type</p>
							<select name="planttype" multiple="multiple">
								<option value ="AllType" selected>All Type</option>
								<option value =" Shrub">Shrub</option>
								<option value =" Shade Tree"> Shade Tree</option>
								<option value=" Groundcover"> Groundcover</option>
								<option value=" Ornamental Grass">Ornamental Grass</option>
							</select>
							<br>
							<p>Filter by water demand</p>
						<select name="waterdemand" multiple="multiple">
							<option value ="AllType" selected>All Type</option>
							<option value =" Medium">Medium</option>
							<option value =" Low">Low</option>
							<option value=" Very Low">Very Low</option>
						</select>
						<br>
						<p>Filter by plantform</p>
					<select name="plantform" multiple="multiple">
						<option value ="AllType" selected>All Type</option>
						<option value =" Spreading"> Spreading</option>
						<option value=" Rounded"> Rounded</option>
						<option value=" Upright"> Upright</option>
						<option value=" Pyramidal"> Pyramidal</option>
					</select>
					<br>
<p>Filter by season</p>
					<select name="season" multiple="multiple">
						<option value ="AllType" selected>All Type</option>
						<option value =" Spring"> Spring</option>
						<option value =" Summer"> Summer</option>
						<option value=" Fall"> Fall</option>
						<option value=" Winter"> Winter</option>
					</select>
					<br>
<p>Filter by Native/Adapted</p>
					<select name="native" multiple="multiple">
						<option value ="AllType" selected>All Type</option>
						<option value =" Adapted"> Adapted</option>
						<option value =" Native"> Native</option>
					</select>
					<br>
<p>Filter by light requirement</p>
					<select name="lightreq" multiple="multiple">
						<option value ="AllType" selected>All Type</option>
						<option value =" Full Sun"> Full Sun</option>
						<option value =" Partial Shade"> Partial Shade</option>
						<option value =" Full Shade"> Full Shade</option>
					</select>
					<br>
					<button class="btn btn-default" type="submit">
					<i class="glyphicon glyphicon-leaf"></i></button>
						</div>
				</div>

					</form>
			</div>
		</div>


			<div class="row">
				{% for plant in plant_names %}
				<div class="col-xs-4 col-m-3 col-l-3 thumbnail-settings">
					<a href="/plant_profile/?id={{plant.id}}">
						<img class="thumbnail img-center" onmouseover="img_over(this)" onmouseout="img_out(this)" src="{{plant.image}}">
					</a>
					<div class="caption">
						<h3 class="text-center" >{{plant.name}}</h3>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="pagination">
			  {% if plant_names.has_previous %}

			    <a class="prevpage" href="?page={{ plant_names.previous_page_number }}">previous page</a>
			  {% endif %}
			  <span class="current">
			    <!-- current page -->
			    page {{ plant_names.number }} / {{ plant_names.paginator.num_pages }} pages
			  </span>
			  {% if plant_names.has_next %}
			    <!-- if there is next page, show this -->
			    <a class="nextpage" href="?page={{ plant_names.next_page_number }}">next page</a>
			  {% endif %}
			</div>
	</div>



</body>
</html>
