<html>
    <link rel = "stylesheet" href="SubPage.css">
	<body bgcolor="grey">
	<div style="float:left;clear:both;maring:10px 0px 10px 0px;"><img position:absolute; left:300px; top:150px;
		border="5" src="001_Malva Blanca.jpg" alt="Malva Blanca (Fuertesimalva limensis)" width="500" height="300"> </div>
		<!---<img position:absolute; left:300px; top:150px;
		border="10" src="001_Malva Blanca.jpg" alt="Malva Blanca (Fuertesimalva limensis)" width="500" height="300">--->
	<table border="0" cellpadding="10" cellspacing="20">
		<tr>
			<td><font size=5>Name:</front></td>
			<td><font size=5>Malva Blanca</front></td>
		</tr>
		<tr>
			<td><font size=5>Sicentific Name:</front></td>
			<td><font size=5>Fuertesimalva limensis</front></td>
		</tr>
		<tr>
			<td><font size=5>Native ?:</front></td>
			<td><font size=5>Yes</front></td>
		</tr>
		<tr>
			<td><font size=5>Plant Type:</front></td>
			<td><font size=5>Flowering</front></td>
		</tr>
		
	</table>
		<br>
		<input width:500px; height:300px; position:fixed; top:300; left:50;type="text" value="" class="mytxt" />
		<p align="center">This is a centered paragraph</p>
		<div id="wrap">
    <ul class="tabdemo clear-float"> 
        <li class="active"><a href="#">选择1</a></li>
        <li><a href="#">选择2</a></li>
        <li><a href="#">选择3</a></li>
    </ul>

    <!--弹出内容-->
    <div id="content">
        <div id="first" class="show">
            <a href="#">内容一</a>
            <a href="#">内容一</a>
            <a href="#">内容一</a>
            <a href="#">内容一</a>
        </div>

        <div id="second" class="hidden">
            <a href="#">内容二</a>
            <a href="#">内容二</a>
            <a href="#">内容二</a>
            <a href="#">内容二</a>
        </div>

        <div id="third" class="hidden">
            <a href="#">内容三</a>
            <a href="#">内容三</a>
            <a href="#">内容三</a>
            <a href="#">内容三</a>
        </div>
    </div>
</div>
	</body>
</html>