body{
	margin: 10%;
}

h4{
	font-family: Arial;
	font-size: 260%;
	margin: 16px;
}

p{
	font-family: Arial;
	font-size: 200%;
}

b{

	color: #4f4f2f;
	margin: 5px;
	font: 250% 'Fjalla One', Helvetica, sans-serif;
}

img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: 20px;

}


.navbar-nav {
	color: #57BC90;
	font: 160% 'Fjalla One', Helvetica, sans-serif;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
        color: #EFEFEF !important;
}


.navbar-brand {
  color: #EFEFEF !important;
  padding-top: 0;
  padding-left: 10px;
  font: 250% 'Fjalla One', Helvetica, sans-serif !important;
}

.navbar-nav > li > a:hover, .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #57bc90;
    color: #000000 !important;;
}


#title{
	  font: 80px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #57bc90;
	  position: center;
	  margin-top: 6%;
	  left: 50%;

}

.team-name{
	  font: 30px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  position: center;
	  left: 50%;

}

#header{
	background-color: #FFFFFF;
	font:20px/1.2 'Fjalla One', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1500px;


}
#about-us{
	margin-top: 5%;
	font-size: 200%; 
	color:#4f4f2f; 
	text-align: justify; 
	margin-left:10%; 
	margin-right: 10%;
}


.people{
	  font: 80px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #57bc90;
	  position: center;
	  top: 10%;
	  left: 50%;
}


.teammates{
	margin: left;
	padding-left: 0%;
	text-align: left;
	align-items: center;
	max-width: 80%;
	/*overflow: auto;*/
	margin-top: 4%;
	background-color:#EEE9E9;
	left: 50%; 
	transform: translate(13%);
}


.name{
	  font: 50px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  position: center;
		left: 50%;
		margin-top: 10%;
		margin-bottom: 8%;

}

.total-data{
	font: 50px/1.2 'Fjalla One', sans-serif;
	font-weight:800;
	color: #238e23;
	position: center;
	left: 50%;
	margin-top: 3%;
}

div i{
	display: inline-block;
	width: 100%
}

.photos{

	align-items: center;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-top: 15%;
}

.data{
	margin-right: 30%;
	margin-top: 55%;

}


#statistics{
	margin-top:20%;
	text-align: center;

}

#sources{
	margin-top:20%;
	font-family: Arial;
	font-size: 110%;
	margin-left:5%;
	margin-right:5%;
	text-align: left;
}



.link{
	  font: 35px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  margin-top: 3%;
}

.tools{
	 text-align:justify;

}


#mainpage_link{
	margin-left: 50%;
	font-size: 125%;
	text-align: left;
}
