body{

	margin: 10%;

}

h4{
	color: #000000;
	font-family: Arial;
	font-size: 260%;
	margin: 16px;
}

p{
	color: #000000;
	font-family: Arial;
	font-size: 200%;
	margin-left: 10%;
	padding-left: 15%;
}

b{

	color: #4f4f2f;
	margin: 5px;
	font: 250% 'Fjalla One', Helvetica, sans-serif;
}

img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: 20px;

}

.navbar-nav {
	color: #EFEFEF;
	font: 160% 'Merienda One', Helvetica, sans-serif;
}

.navbar-brand {
  color: #EFEFEF;
  padding-top: 0;
  padding-left: 10px;
  font: 250% 'Merienda One', Helvetica, sans-serif;
}

.navbar-nav > li > a:hover, .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #A9A9a9;
    color: #EFEFEF;
}


#title{
	/*color: white;
	text-align: center;
	font-size: 300%;
	/*font-family: "Times New Roman", serif;*/
	  font: 80px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #57bc90;
	  position: center;
	  top: 20%;
	  left: 50%;


}

.team-name{
	  font: 30px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  position: center;
	  left: 50%;

}

#header{
	background-color: #FFFFFF;
	font:20px/1.2 'Fjalla One', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1500px;
	transform: translate(-50%, -50%);


}


.people{
	  font: 80px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #57bc90;
	  position: center;
	  top: 10%;
	  left: 50%;
}


.teammates{
	margin: left;
	padding-left: 0%;
	text-align: left;
	align-items: center;
	max-width: 70%;
	/*overflow: auto;*/
	margin-top: 4%;
	background-color:#EEE9E9;
}


.name{
	  font: 50px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  position: center;
	  left: 50%;

}

div i{
	display: inline-block;
	width: 100%
}

.photos{

	align-items: center;
	width: 90%;
	height: 80%;
	margin-left: 5%;
	margin-top: 15%;
}

.data{
	/*top: 50%;
	left: 50%;
	transform:translate(0, 50%);*/
	margin-right: 10%;
	margin-top: 40%;

}


#statistics{
	margin-top:20%;
	text-align: center;

}

#sources{
	margin-top:20%;
	font-family: Arial;
	font-size: 110%;
	margin-left:5%;
	margin-right:5%;
	text-align: left;
}



#link{
	  font: 35px/1.2 'Fjalla One', sans-serif;
	  font-weight:800;
	  color: #238e23;
	  margin-top: 5%;
}

.tools{
	 text-align:justify;

}


#mainpage_link{
	color: black;
	margin-left: 50%;
	font-size: 125%;
	text-align: left;
}
