
.grey-theme{
  background-color:#A5A5Af; 
}

.green-theme{
  background-color: #57bc90;
  opacity: 0.75;
  filter: alpha(opacity=0.75);
}



.title1{
  font: 80px/1.2 'Fjalla One', sans-serif;
  font-weight:800;
  color: #57BC90;
}


.title2{
  font: 50px/1.2 'Fjalla One', sans-serif;
  font-weight:800;
  color: #57BC90;
}

.title3{
  font: 30px/1.2 'Fjalla One', sans-serif;
  font-weight:800;
  color: #57BC90;
}

.words1{
  font: 20px/1.2 'Fjalla One', sans-serif;
  font-weight:800;
  color: #015249;
}

.img-area{
  max-height: 25%;
  width: 100%;
}

.main_img{
  vertical-align: top;
  display: inline-block; 
  height: 40vh; 
  width:20vw; 
}

.img_table{
  vertical-align: top; 
  height: 45vh; 
  width: 75vw; 
  display: inline-block;
  border: dashed; 
  border-width: 5px;
  color:#A5A5Af;
  border-color: #57BC90; 
  overflow: scroll; 
  font: 200% 'Fjalla One', Helvetica, sans-serif;
}

.profile_table{
  vertical-align: top;  
  text-align: left;
  width: 80%; 
  margin-left: 10%;
  margin-right: 10%;
  border: dashed; 
  border-width: 5px;
  color:#A5A5Af;
  border-color: #57BC90; 
  overflow: scroll; 
  font: 200% 'Fjalla One', Helvetica, sans-serif;
  
}

.profile-style{
  vertical-align: top;  
  text-align: justify;
  padding: 3%;
  width: 80%; 
  margin-left: 10%;
  margin-right: 10%;
  border: dashed; 
  border-width: 5px;
  color:#A5A5Af !important;
  border-color: #57BC90; 
  overflow: scroll; 
  font: 200% 'Fjalla One', Helvetica, sans-serif;
}

.border-style{
  width: 100%;
  border-bottom: dashed;
  border-width: 5px;
  border-color: #dddddd;
}

.button-set{
  text-align: center;
}

.buttons{
  background-color: #A5A5Af;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 22px;
  font-family: 'Fjalla One', sans-serif;
}

.imgstyle{
	object-fit: cover;
	width: 400px;
	height: 300px;
	border-radius: 8px;
	margin: 20px;
}

.imgstyle-large{
  object-fit: cover;
  width: 1000px;
  height: 500px;
  border-radius: 10px;
  margin: 20px;
}

.imgstyle-large-square-like{
  object-fit: cover;
  width: 600px;
  height: 500px;
  border-radius: 8px;
  margin: 20px;
}

.img-medium-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 400px;
  height: 350px;
  border-radius: 8px;
}

.carouselImg img {
  width: auto;
  height: 400px;
  max-height: 400px;
  min-height: 400px;
}

.img-center-wide {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.img-center-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

h6{
  color: #FFFFFF!important;
}

p{
	color: #000000;
	font-family: Arial;
	font-size: 160%;
	margin: 20px;
}

img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: 20px;

}

/*
Added to enable "overflow-y"
*/

#plantlist{
	border-left: 1px solid;
	color: #cccccc;
}
#filters{
	border-top: 1px;
	color:#a6a6a6;
}

.pfilter{
	color: #FFFFFF;
	font-family: Arial;
	font-size: 120%;
	margin: 20px;
	width: 100%;
}
.horizontal-align{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.plant_list{
	height: 45em;
  overflow-y: scroll;
  display:none
}

.glyphicon-leaf{
font-size: 28px;
}

/* style icon */
.input-group .glyphicon-search {
position: absolute;
padding: 20px;
pointer-events: none;
left: 0px;
font-size: 15px;
}

/*change the plant information text*/
.text-plant-each {
height: 20px;
width: 90%;
word-wrap: break-word;

}
.table-scroll {
  /*
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
  */
  scrollbar-DarkShadow-Color: #9FB7D7;
  scrollbar-Track-Color: #F7F7F7;
  scrollbar-Face-Color: #C7CFFF;
  scrollbar-Shadow-Color: #FFFFFF;
  scrollbar-Highlight-Color: #FFFFFF;
  scrollbar-3dLight-Color: #C7CFF7;
  scrollbar-Arrow-Color: #4F5F87;
}


/* add padding  */
.input-group input { padding-left: 50px;}

.btn-default{
width: 100px;
padding: 8.5px;
background: rgba(255, 255, 255, 0.7);
}

.form-control{
padding: 25px;
font-size: 20px;
background: rgba(255, 255, 255, 0.7);
}
#page_footer{
	position: relative;
	width:80%
	
}

#page_goto span{
		padding: 1px 6px 1px 15px;
}
#page_goto input{
		border: none;
		padding: .45em;
		width: 2em;
		text-align: center;
}

.card-style{
	border-color : #FFFFFF;
  border-width : 10px;
  display: inline-block;
}

.prevpage{
	color: black;
}
.nextpage{
	color: black;
}
