p {
	color: #57bc90 !important;
}

.page-link{
	background-color:#57BC90; color:#FFFFFF;
}
.navbar-nav {
	color: #57BC90;
	font: 160% 'Fjalla One', Helvetica, sans-serif;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFFFFF;
}

.navbar-brand {
  color: #FFFFFF;
  font: 250% 'Fjalla One', Helvetica, sans-serif;
}

.navbar-nav > li > a:hover, .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #57bc90;
    color: #57BC90;
}

.title1{
  font: 80px/1.2 'Fjalla One', sans-serif;
  font-weight:800;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  }

a {
	color: #A5A5AF;
}

.thumbnail-settings{
	margin-top:25px;
	margin-bottom:25px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 300px;
  height: 300px;
	object-fit: cover;
	border-radius: 8px;
}

body{

	margin: 0px;
}

.card-style{
	border-color : #FFFFFF;
	border-width : 10px;
}

h1{
	color: #000000;
	font-family: Arial;
	font-size: 260%;
	margin: 20px;
}

p{
	color: #000000;
	font-family: Arial;
	font-size: 160%;
	margin: 20px;
	width: 80%;
}
#plantlist{
	border-left: 1px solid;
	color: #cccccc;
}
#filters{
	border-top: 1px;
	color:#a6a6a6;
}

.pfilter{
	color: #FFFFFF;
	font-family: Arial;
	font-size: 120%;
	margin: 20px;
	width: 100%;
}
.horizontal-align{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgentry{
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 8px;
	margin: 20px;
}
.plant_list{
	height: 45em;
	overflow-y: scroll;
}

.fa_custom{
/* color: #57bc90 */
}

/* style icon */
.input-group .glyphicon-search {
position: absolute;
padding: 20px;
pointer-events: none;
left: 0px;
font-size: 15px;
}

/* add padding  */
.input-group input { padding-left: 50px;}

.btn-default{
width: 100px;
padding: 8.5px;
background: rgba(255, 255, 255, 0.7);
}

.form-control{
padding: 25px;
font-size: 20px;
background: rgba(255, 255, 255, 0.7);
}
#page_footer{
	position: relative;
	width:80%
	left: 0;
}
#page_goto span{
		padding: 1px 6px 1px 15px;
}
#page_goto input{
		border: none;
		padding: .45em;
		width: 2em;
		text-align: center;
}

.prevpage{
	color: black;
}
.nextpage{
	color: black;
}
