.trunk, .trunk div {
    background: #179E25;

    width: 100px;
    height: 10px;
    position: absolute;
    left:50%;
    top:55%;
    margin-left: -10px;
    -webkit-animation-name: rot;
            animation-name: rot;
    -webkit-animation-duration: 2.02s;
            animation-duration: 2.02s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-transform-origin: 5px 5px;
        -ms-transform-origin: 5px 5px;
            transform-origin: 5px 5px;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;

}
.trunk.trunk, .trunk div.trunk {
    bottom: 0;
    left: 50%;
    -webkit-animation-name: rot-root;
            animation-name: rot-root;
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
}
.trunk > div, .trunk div > div {

    top: 0;
    left: 100px;
    -webkit-animation-duration: calc(inherit / 2);
            animation-duration: calc(inherit / 2);

}
.trunk > div:nth-child(2), .trunk div > div:nth-child(2) {

    -webkit-animation-name: rot-inv;
            animation-name: rot-inv;
    -webkit-animation-duration: 1.7s;
            animation-duration: 1.7s;
}

@-webkit-keyframes rot {
    from {
      -webkit-transform: rotate(15deg) scale(0.72);
              transform: rotate(15deg) scale(0.72);
    }
    to {
      -webkit-transform: rotate(45deg) scale(0.72);
              transform: rotate(45deg) scale(0.72);
    }
}

@keyframes rot {
    from {
      -webkit-transform: rotate(15deg) scale(0.72);
              transform: rotate(15deg) scale(0.72);
    }
    to {
      -webkit-transform: rotate(45deg) scale(0.72);
              transform: rotate(45deg) scale(0.72);
    }
}
@-webkit-keyframes rot-inv {
    from {
      -webkit-transform: rotate(-45deg) scale(0.72);
              transform: rotate(-45deg) scale(0.72);
    }
    to {
      -webkit-transform: rotate(-15deg) scale(0.72);
              transform: rotate(-15deg) scale(0.72);
    }
}
@keyframes rot-inv {
    from {
      -webkit-transform: rotate(-45deg) scale(0.72);
              transform: rotate(-45deg) scale(0.72);
    }
    to {
      -webkit-transform: rotate(-15deg) scale(0.72);
              transform: rotate(-15deg) scale(0.72);
    }
}
@-webkit-keyframes rot-root {
    from {
      -webkit-transform: rotate(-95deg);
              transform: rotate(-95deg);
    }
    to {
      -webkit-transform: rotate(-85deg);
              transform: rotate(-85deg);
    }
}
@keyframes rot-root {
    from {
      -webkit-transform: rotate(-95deg);
              transform: rotate(-95deg);
    }
    to {
      -webkit-transform: rotate(-85deg);
              transform: rotate(-85deg);
    }
}


#spinner{
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
}

.bg2 {
box-sizing:border-box;
height:100%;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top;
        animation: bg1 40s cubic-bezier(.9,0,0,.9) infinite;
        -moz-transition: all 1s cubic-bezier(.9,0,0,.9);
}


html{
        height: 100%;
        margin: 0;
        padding: 0;
}

body{
        height: 100%;
        margin: 0;
        padding: 0;
}

p {
color: #57bc90 !important;
padding:0;
}

.page-link{
background-color:#57BC90; color:#FFFFFF;
}

.navbar{
background-color:rgba(0,0,0,0.35);
}

.navbar-nav {
color: #57BC90;
font: 160% 'Fjalla One', Helvetica, sans-serif;
}
      
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
        color: #FFFFFF;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
        color: #FFFFFF;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
        color: #FFFFFF;
}

.navbar-brand {
color: #EFEFEF;
padding-top: 0;
padding-left: 0;
font: 250% 'Fjalla One', Helvetica, sans-serif;
}

.navbar-nav > li > a:hover, .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: #57bc90;
        color: #57BC90;
}
.container{
margin-top:5%;
height:8em;
}
.title1{
font: 80px/1.2 'Fjalla One', sans-serif;
font-weight:800;
color: rgba(255,255,255,1);
position: absolute;
left: 50%;
transform: translate(-50%, -20%);
}

a {
color: #A5A5AF;
}

/* style icon */
.input-group .glyphicon-search {
position: absolute;
padding: 20px;
pointer-events: none;
left: 0px;
font-size: 15px;
}

/* add padding  */
.input-group input {
padding-left: 15px;
}

.form-control{
background: rgba(255, 255, 255, 0.7);
height:3.5em;
}

#search_bar{
width: 70%;
left:15%;
}
.btn-outline{
border-color: #d9d9d9;
width: 7em;
}