

body{
  background-color: #ABF0D1

}

.BigTitle{
    text-align: center;
    font-family: "Times New Roman", cursive;
    font-size: 100px;
    font-style: italic;
}

.Search{
  width: 400px;
  height: 100px;
  margin: 0 auto;
  align-items: center;
 }

 #threemodels{
   margin:  auto;
   text-align: center;
   display: block;
 }

 


#bluebonnet{
margin: center;
height: 500px;
width: auto;


  /*  position: relative;
    top: 10px;
    right: 75px;
    height: 500px;
    width: auto;
      /*
      height:500px;
      width: auto;
      margin: 0 auto;
      max-width: 500px;
      max-height: 500px;
      align-items: center;
      */
}


#plantlist{
  position: relative;
  bottom: 50px;
 padding-right: 5px;
 padding-left: 5px;
 padding-bottom: 5px;
 }

#stateparks{
   position: relative;
  bottom: 50px;
 padding-right: 5px;
 padding-left: 5px;
 padding-bottom: 5px;
}

#ecoregions{
   position: relative;
  bottom: 50px;
  padding-right: 5px;
 padding-left: 5px;
 padding-bottom: 5px;
}


#helpinfo{
  margin: 0 auto;
}

#help{
  position: absolute;
  bottom: 50px ;
  left: 45%
}

#aboutus{
  position: absolute;
  bottom: 50px;
  left: 50%;
}
#more{
  position: absolute;
  bottom: 50px;
  left: 55%;
}
