

body{
	background-color : #FFFFFF;
}

h1{
	color: #D43704;
	font-family: Arial;
	font-size: 260%;
	margin: 20px;
}

p{
	color: #000000;
	font-family: Arial;
	font-size: 160%;
	margin: 20px;
}

.navbar-nav {
	color: #EFEFEF;
	font: 160% 'Merienda One', Helvetica, sans-serif;
}

.navbar-brand {
  color: #EFEFEF;
  padding-top: 0;
  padding-left: 10px;
  font: 250% 'Merienda One', Helvetica, sans-serif;
}

.navbar-nav > li > a:hover, .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #A9A9a9;
    color: #EFEFEF;
}

#image-and-info{
	padding: 5px;
	width: 70%;
	margin: auto;
	overflow: scroll;


}
/*
#image-div{
	display: inline-block;
	height: 400px;
	width: 400px;
	border: solid;
	border-color: black;
	vertical-align: top;
}
*/

#image-wrapper{

}

.image-plant-each {
	display: inline-block;
	height: 400px;
	width: 400px;
	float: left;
	margin:0 auto;
	vertical-align: top;
	padding-right: 50px;

}



.plant-info {
	height: 50px;
	width: 50px;
	display: inline-block;
	padding-left: 10px;
	padding-right:10px;
  	text-align: left;
	color: #000000;
	font-family: Arial;
	font-size: 160%;
	border: solid;
	border-color: #77C9D4;
	border-width: medium;
	overflow: scroll;
	vertical-align: top;
	background-color: black;
}


#two-carousel-container{
	margin: 0 auto;
	max-width: 70%;
	padding: 5px;

}

.carouselImg img {
  width: auto;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}


.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-inner{

}

.item-active-carouselImg{

}

.Carousel-Container{
	float: left;
	width: 50%;
}
