

body{
	background-color: #F1b2B0;
}

#title{
	margin:auto;
	text-align: center;
	color: #42599F
}

.container{
	margin: auto;
	max-width: 1000px;
	text-align: left;

}

.name{
	font-weight: bold;
	color: navy;
}
