<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="{% static "list_style.css" %}">
</head>

<body>
	<div class="container">
		<div class="Img">
			<img src="{% static "sp_pedernales.jpg" %}">
		</div>
		<div class="Text">
			<a href="/park1/">Pedernales State Park</a>
		</div>

	</div>

	<div class="container">
		<div class="Img">
			<img src="../imgs/sp_dinosaur_valley.jpg">
		</div>
		<div class="Text">
			<a href="/park2/">Dinosaur Valley State Park</a>
		</div>
	</div>

	<div class="container">
		<div class="Img">
			<img src="../imgs/sp_daingerfield.jpg">
		</div>
		<div class="Text">
			<a href="/park3/">Daingerfield State Park</a>
		</div>
	</div>

</body>
</html>
